@model SalesWebMvc2.Models.Seller

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <label class="form-group" 
        </form>
    </div>
</div>