@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Professor"]</p>


<p>Welcome to the new course of C#</p>

<adress>
    <a href="www.eudandoweb.com.br">EducaWeb</a>
</adress>
